<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dicoding:email" content="f297x0758@dicoding.org" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./favicon.png" />

    <title>SAI Store</title>
  </head>
  <body>
    <header>
      <a href="" class="logo"><span>SAI </span>Store</a>
      <button class="menu-toggle">☰</button>
      <nav id="navigationDrawer" class="navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#content">Produk</a></li>
          <li><a href="#about">Info</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
      <p>Copyright ©2022 C22-012 Capstone Project. All Rights Reserved</p>
    </footer>
  </body>
</html>
