<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="dicoding:email" content="f297x0758@dicoding.org" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>SAI Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="./logo.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          SAI Admin
        </a>
      </div>
    </nav>
    <main class="container" id="mainContent"></main>
    <add-modal></add-modal>
  </body>
</html>
